@charset "UTF-8";
/* CSS Document */

/*Strip the ul of padding and list styling*/
#menu {
	list-style-type:none;
	margin:0;
	padding:0;
	/* position: absolute; */
	width: 100%;
	display: table;
	table-layout: fixed;
}

/*Create a horizontal list with spacing*/
#menu li {
	display: table-cell;
	text-align: center;
	background-color: rgba(177, 2, 126, 1);
	vertical-align: middle;
}

/*Style for menu links*/
#menu li a {
	color: #fff;
	text-decoration: none;
	padding: 15px 15px;
	display: block;
	font-size: 14px;
}
#menu li a span{
    color: yellow;
}
/*Hover state for top level links*/
#menu li:hover a {
	background-color: #710050;
}

/*Style for dropdown links*/
#menu li:hover ul a {
	background-color: #710050;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
#menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
#menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: rgb(113, 2, 81);
	text-align: center;
	padding: 10px 0;
	display: none;
	font-size: 13px;
	letter-spacing: .3px;
}

/*Hide checkbox*/
#menResponsive input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
#menResponsive input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	#menu {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#menu li {
		/* margin-bottom: 1px; */
		display: block;
		/* background-color: rgba(0,0,0,.8); */
	}
	/*Make all menu links full width*/
	#menu ul li, #menu li a {
		width: 100%;
		padding: 18px 15px !important;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}