
        @import url("spotlight/vista/nitobi.callout.css");
    
        @import url("spotlight/impact/nitobi.callout.css");
    
        @import url("spotlight/xp/nitobi.callout.css");
    
        @import url("spotlight/clean/nitobi.callout.css");
    
        @import url("spotlight/peanut_info/nitobi.callout.css");
    
        @import url("spotlight/peanut_talkbubble/nitobi.callout.css");
    
        @import url("spotlight/peanut_exclam/nitobi.callout.css");
    
        @import url("spotlight/peanut_noaccess/nitobi.callout.css");
    .nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}