
        @import url("fisheye/nitobi/fisheye.css");
    
        @import url("fisheye/clearback/fisheye.css");
    
        @import url("fisheye/osx/fisheye.css");
    .nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}