.innertabstrip .ntb-tab-strip
{
	padding:0;
	margin:0;
	overflow:hidden;
	width:100%;
	height:100%;
}

.nitobi .ntb-tab-strip-max
{
	width:100%;
	height:100%
}

.nitobi .ntb-tab-tabs-row
{
	width: 100%;
	vertical-align:bottom;
}

.nitobi .ntb-tab-bodies-row
{
	width: 100%;
	vertical-align:top;
}

.innertabstrip .ntb-tab-strip-body-container
{
	height:100%;
	width:100%;
	border: 1px solid lightgrey;
}

.innertabstrip .ntb-tab-mouseover .ntb-tab
{
}

.innertabstrip .ntb-tab-before-tabs
{
}

.innertabstrip .ntb-tab-after-tabs
{
}

.innertabstrip .ntb-tab-inactive  .ntb-tab-table
{
	width:100%;
	height:30px;
	border-collapse:collapse;
	border:0;
	white-space:nowrap;
	z-index:299;
	table-layout:fixed;
	padding:0px;
	margin:0px;			
	position:relative;
}

.innertabstrip .ntb-tab-active .ntb-tab-table
{
	width:100%;
	height:30px;
	border-collapse:collapse;
	border:0;
	white-space:nowrap;
	z-index:300;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-table
{
	width:100%;
	height:30px;
	border-collapse:collapse;
	border:0;
	white-space:nowrap;
	z-index:199;
}

.innertabstrip .ntb-tab-inactive  .ntb-tab
{
	font-size: 12px; 
	font-family: tahoma;
	font-weight:bold;
	
	color:#666699;
	text-align:center;
	padding-top:0x;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}

.innertabstrip .ntb-tab-active .ntb-tab
{
	font-size: 12px; 
	font-family: tahoma;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding-top:0px;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}
.innertabstrip .ntb-tab-active .ntb-tab-mouseover .ntb-tab
{
	font-size: 11px; 
	color:#FFFFFF;
	text-align:center;
	padding-top:0px;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}
.innertabstrip .ntb-tab-disabled .ntb-tab-mouseover .ntb-tab
{
	font-size: 11px; 
	color:gray;
	text-align:center;
	padding-top:0px;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}

.innertabstrip .ntb-tab-inactive .ntb-tab-left
{
	background-image: none;
	background-color:#A3A3C2;
	z-index:100;
	width:8px;
}

.innertabstrip .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left
{
	z-index:100;
	width:8px;
	background-image: none;
	background-color:#C2C2D6;
}

.innertabstrip .ntb-tab-active .ntb-tab-left
{
	background-image: none;
	background-color:#666699;
	z-index:200;
	width:8px;
}


.innertabstrip .ntb-tab-disabled .ntb-tab-left
{
	background-image: none;
	background-color:#454545;
	z-index:199;
	width:8px;
}

.innertabstrip .ntb-tab-active .ntb-tab-mouseover .ntb-tab-left
{
	background-color:#8585AD;
	background-image: none;
	z-index:200;
	width:8px;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#A3A3C2;
	z-index:100;
}

.innertabstrip .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#C2C2D6;
	z-index:100;
}

.innertabstrip .ntb-tab-active .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#666699;
	z-index:200;
}

.innertabstrip .ntb-tab-active .ntb-tab-mouseover .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#8585AD;;
	z-index:200;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#454545;
	z-index:199;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-mouseover .ntb-tab-body
{
	width:*;
	background-image: none;
	background-color:#454545;
	z-index:199;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-right
{
	background-image: none;
	background-color:#A3A3C2;
	width:34px;
	z-index:100;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab-right
{
	background-image: none;
	background-color:#C2C2D6;
	width:34px;
	z-index:100;
}

.innertabstrip .ntb-tab-active .ntb-tab-right
{
	background-image: none;
	background-color:#666699;
	width:34px;
	z-index:200;
}

.innertabstrip .ntb-tab-active .ntb-tab-mouseover .ntb-tab-right
{
	background-image: none;
	background-color:#8585AD;
	width:34px;
	z-index:200;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-right
{
	background-image: none;
	background-color:#454545;
	width:34px;
	z-index:199;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-mouseover .ntb-tab-right
{
	background-image: none;
	background-color:#454545;
	width:34px;
	z-index:199;
}

.innertabstrip .ntb-tab-active .ntb-tab-iframecontainer
{
	border:0;
	width:100%;
	height:100%;
	z-index:300;
	position:static;
}

.innertabstrip .ntb-tab-active .ntb-tab-bodycontainer
{
	z-index:300;
}


.innertabstrip .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab
{
	text-align:center;
	padding-top:0px;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}
.innertabstrip .ntb-tab-icon
{
	
}



.innertabstrip .ntb-tab-container
{
	background-image: none;
	background-color:lightgray;
	overflow:hidden;
}

.innertabstrip .ntb-tab-bodycontainer
{
	z-index:299;
}

.innertabstrip .ntb-leading-tab
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: red;
}

.innertabstrip .ntb-tab-tabs
{
	position:relative;
	top:0px;
	table-layout:fixed;
	border-collapse:collapse;
	margin:0px;
	padding:0px;
	border:0px;
}

.innertabstrip .ntb-tab-activityindicator
{
	background-image:url('images/indicator.gif');
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-label
{
	border-collapse: collapse;
	width:100%;
}

.innertabstrip .ntb-tab-active .ntb-tab-label
{
	border-collapse: collapse;
	width:100%;
}

.innertabstrip .ntb-tab-active .ntb-tab-mouseover .ntb-tab-label
{
	border-collapse: collapse;
	width:100%;
	font-size:12px;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-bodycontainer
{
	top:-1000px;
	left:-1000px;
	z-index:299;
	position:absolute;
	height:100%;
	width:100%;
}

.innertabstrip .ntb-tab-active .ntb-tab-bodycontainer
{
	z-index:300;
	position:static;
	height:100%;
	width:100%;
}

.innertabstrip .ntb-tab-inactive .ntb-tab-iframecontainer
{
	border:0;
	width:0px;
	height:0px;
	top:-1000px;
	left:-1000px;
	z-index:299;
	position:absolute;
}



.innertabstrip .ntb-tab-disabled .ntb-tab
{
	font-size: 11px; 
	color:gray;
	text-align:center;
	padding-top:0px;
	margin:0px;
	cursor:pointer;
	padding-right:0px;
	padding-left:0px;	
}
.innertabstrip .ntb-tab-disabled .ntb-tab-icon
{
	
}



.innertabstrip .ntb-tab-disabled .ntb-tab-iframecontainer
{
	border:0;
	width:100%;
	height:100%;
	z-index:300;
	position:static;
}

.innertabstrip .ntb-tab-disabled .ntb-tab-bodycontainer
{
	z-index:199;
}

.innertabstrip .ntb-tab-mintable
{
	border-collapse:collapse;
	padding:0;
	margin:0;
	table-layout:fixed;
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}